.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.link {
    text-align: start;
    text-wrap: nowrap;
    width: auto;
    font-size: 18px;
    font-style:italic;
    color:#111;
}